<?xml version="1.0" encoding="UTF-8" ?>
<congig>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>Perficient_ProductGrid_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
</congig>